<div gmap="main" track="track" autobounds="{{autobounds}}"></div>
<div class="map-control">
    <ul class="map-control-tools">
        <li ng-click="doFilter()"><span class="icon-filter icon-large" title="Фильтр"></span></li>
        <li ng-click="doZoomList()"><span class="icon-zoom-in icon-large" title="Размер"></span></li>
    </ul>
    <ul class="mapsyslist">
        <mapsysitem zoom="{{zoomlist}}" ng-repeat="s in account.account.skeys" item="account.account.systems[s]" select="onSysSelect(s)"></mapsysitem>
    </ul>
    <div class="mapcalendar">
      <div id="datepicker" data-date-language="ru" data-date-weekstart="1"></div>
    </div>


</div>

<div class="map-timeline" id="timeline" data="timeline" timeline></div>

<div class="map-toolbar">
    Панель инструментов
    <span ng-class="{true:'icon-unlock', false:'icon-lock'}[autobounds]" ng-click="switchAutobounds()"></span>
    <button ng-click="hideTrack()">Скрыть трек</button>
    Информация: точек в треке: {{points}}
</div>


</div>
