<div gmap="main"></div>
<div class="map-control">
    <ul class="map-control-tools">
        <li ng-click="doFilter()"><span class="icon-filter icon-large" title="Фильтр"></span></li>
        <li ng-click="doZoomList()"><span class="icon-zoom-in icon-large" title="Размер"></span></li>
    </ul>
    <ul class="mapsyslist">
        <mapsysitem zoom="{{zoomlist}}" ng-repeat="s in account.account.skeys" item="account.account.systems[s]" select="onSysSelect(s)"></mapsysitem>
    </ul>
    <div class="mapcalendar">
      <div id="datepicker" data-date-language="ru" data-date-weekstart="1"></div>
    </div>


</div>

<div class="map-timeline" id="timeline">
    <svg width="2500px" height="46px" class="timeline"></svg>
    <!-- <div  style="width: 40000px;">uu</div> -->
</div>

<div class="map-toolbar">
    Панель инструментов
    <button ng-click="hideTrack()">Скрыть трек</button>
    Информация: точек в треке: <span id="points_in_track">?</span>
</div>


</div>
