<div gmap="main" track="track" account="account" systems="systems" config="mapconfig" center="center"></div>
<div class="map-control">
    <mapsyslist skey="skey" account="account" systems="systems" zoom="{{zoomlist}}" select="onSelect"></mapsyslist>

<!--     <ul class="mapsyslist">
        <mapsysitem zoom="{{zoomlist}}" class="{{s}}" ng-repeat="s in account.account.skeys" item="account.account.systems[s]" select="onSysSelect(s)"></mapsysitem>
        <li style="padding-top: 15px;">
            <div style="white-space: normal;">
                <div ng-show="account.account.skeys.length === 0">Вы еще не наблюдаете ни за одним трекером. Нажмите кнопку ниже чтобы добавить трекер в список наблюдения.</div>
                <addtracker account="account"></addtracker>
            </div>
        </li>
        <li>
            {{ skey }}
        </li>
    </ul>
 -->    <div class="mapcalendar">
      <div id="datepicker" data-date-language="ru" data-date-weekstart="1"></div>
    </div>


</div>

<div class="map-timeline" id="timeline" data="timeline" timeline></div>

<div class="map-toolbar">
    <a title="Пользователь" href="#/login"><i class="icon-user icon-large"></i> {{account.account.title}}</a>
    <a title="{{'Display Settings' | translate}}" ng-click="showconfig = !showconfig"><i class="icon-wrench icon-large"></i></a>
    <div class="map-toolbar-config" ng-show="showconfig">
        <ul class="unstyled">
            <li config-map-item item="mapconfig.autobounds" icon-off="unlock" icon-on="lock">{{ 'AUTO_BOUND_TRACK' | translate }}</li>
            <li config-map-item item="mapconfig.animation" icon-off="truck" icon-on="truck">{{ 'ANIMATION_DIR' | translate}}</li>
            <li config-map-item item="mapconfig.numbers" icon-off="map-marker" icon-on="map-marker">{{ 'STOP_NUMBERS' | translate}}</li>
        </ul>
    </div>
    <button ng-click="revertVisibleTrack()" class="btn">{{!hideTrack ?'Hide track':'Show track' | translate}}</button>
    {{'points_in_track' | translate:{value: points} }}
    <!--chooselang></chooselang-->
</div>

