div.container
    h4 {{'enter_as' | translate:{value: account.account.title} }}
    //- | {{ account }}
    dl.dl-horizontal
        dt Язык<br> (Language, Мова, Język)
        dd
            chooselang
        br
            //- select(style="max-width:100px;", ng-model="blah", ng-options="item.id as item.title for item in langs")
        dt(translate) Display name
        dd(contenteditable="true", ng-model="account.account.title", ng-change="onChange(account.account.title)")
        dt(translate) Register date
        dd {{ account.account.date | fromnow }}
        //- dt(translate) Administrator
        //- dd {{ account.account.admin | yesno }}
        dt Состоит в группах
        dd
            span.label.label-primary(ng-repeat="g in account.account.groups")
                i.icon-group
                | &nbsp;{{ g }}
            | &nbsp;
            a(title="Настроить", href="#/login/groups")
                i.icon-wrench
        dt(translate) Observed systems
        dd {{ account.account.skeys.length }}
        dt(title="{{ 'for_recovery' | translate}}") email
        dd
            span(ng-click="hideemail = !hideemail")
                span(ng-show="hideemail") {{ account.account.email }}
                span(ng-hide="hideemail")
                    i.icon-question-sign

    //- div(style="text-align: center;")
        //- | Основные операции
        //- div.row

    div.well(ng-show="account.account.skeys.length === 0")
        p.text-center.text-warning
            strong
                | Добро пожаловать на сервис поддержки трекеров.
                br
                | Для того, чтобы начать пользоваться сервисом, необходимо добавить трекер введя его IMEI.
                div.row.text-center
                    addtracker(account="account")

    div.container(ng-hide="account.account.skeys.length === 0")
        h4 Основные действия:
        a.btn.btn-primary(href="#/map")
            i.icon-map-marker
            span(translate) Map
        | &nbsp;
        a.btn.btn-primary(href="#/logs")
            i.icon-eye-open
            span(translate) Logs
        | &nbsp;
        a.btn.btn-primary(href="#/reports")
            i.icon-table
            span(translate) Reports
        | &nbsp;
        a.btn.btn-primary(href="#/gps")
            i.icon-film
            span(translate) Export GPS
        | &nbsp;
        a.btn.btn-primary(href="#/config")
            i.icon-cogs
            span(translate) Config
        | &nbsp;
        a.btn.btn-primary(href="#/help")
            i.icon-medkit
            span(translate) Help

    h4 Дополнительные действия
    button.btn.btn-warning(ng-click="onLogout();")
        i.icon-off
        | Выйти из учетной записи
