<div class="container">

<h2>Регистрация нового пользователя</h2>

<form class="form-horizontal" role="form" ng-submit="registerUser()">
  <div class="form-group">
    <label>Имя пользователя</label>
    <input type="text" class="form-control" placeholder="Используется для входа" ng-model="user.username" required>
  </div>
  <div class="form-group">
    <label>Пароль</label>
    <input type="password" class="form-control" placeholder="Рекомендуется не менее 6-ти символов" ng-model="user.password" required>
  </div>
  <div class="form-group">
    <label>Отображаемое имя пользователя</label>
    <input type="text" class="form-control" placeholder="Так вас будут видеть другие пользователи" ng-model="user.title" required>
  </div>
  <div class="form-group">
    <label>Электронный ящик</label>
    <input type="email" class="form-control" placeholder="Укажите если хотите иметь возможность восстановления пароля" ng-model="user.email">
  </div>

  <div class="form-group">
    <span>Чтобы иметь возможность создавать общие списки транспортных средств, объекты на карте, шаблоны отчетов и многое другое, необходимо создать группу пользователей (компанию) или присоединиться к существующей группе.</span>
  </div>
  <div class="form-group">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="user.newgroup" btn-radio="true">Создать группу</button>
        <button type="button" class="btn btn-primary" ng-model="user.newgroup" btn-radio="false">Присоединиться к группе</button>
    </div>
    <div class="alert alert-info" ng-switch="user.newgroup">
      <span ng-switch-when="true">Будет создана группа пользователей <strong>{{ user.groupname }}</strong>, и вы станете ее администратором. Для приглашения пользователей в группу, сообщите им название группы и проверочное слово <strong>{{ user.grouppassword }}</strong>.</span>
      <span ng-switch-when="false">Чтобы присоединиться к существующей группе вы должны правильно указать название группы и проверочное слово.</span>
    </div>
  </div>
  <div class="form-group">
    <label>Группа</label>
    <input type="text" class="form-control" placeholder="Используется для объединения группы пользователей" ng-model="user.groupname" required>
  </div>
  <div class="form-group">
    <label>Проверочное слово</label>
    <input type="text" class="form-control" placeholder="Необходимо для вступления в группу пользователей" ng-model="user.grouppassword" required>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3"><button type="submit" class="btn btn-primary">Создать пользователя</button></div>
      <div class="col-md-9 error-alert" ng-show="showerror" id="bugfix0001" style="display:none">
        <div class="alert alert-danger" ng-switch="error">
          <span ng-switch-when="userexist">Пользователь с именем <strong>{{ user.username }}</strong> уже существует.</span>
          <span ng-switch-when="groupexist">Группа с именем <strong>{{ user.groupname }}</strong> уже существует.</span>
          <span ng-switch-when="nogroup">Группы <strong>{{ user.groupname }}</strong> не существует.</span>
          <span ng-switch-when="grouppassword">Проверочное слово для группы <strong>{{ user.groupname }}</strong> не верно.</span>
          <span ng-switch-default>?</span>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="registerMessage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Регистрация успешна</h4>
      </div>
      <div class="modal-body">
        <p>Авторизация пользователя <strong>{{ user.username }}</strong> прошла успешно.</p>
        <p>Теперь вы можете закрыть текущую вкладку и вернуться на вкладку входа.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть предупреждение и зарегестрировать еще одного пользователя</button>
      </div>
    </div>
  </div>
</div>


</div>
