<div class="container">

<h2 translate>RegisterNew</h2>

<form class="form-horizontal" role="form" ng-submit="registerUser()">
  <div class="form-group">
    <label translate>user_name</label>
    <input type="text" class="form-control" placeholder="{{'UsernamePlaceholder' | translate}}" ng-model="user.username" required>
  </div>
  <div class="form-group">
    <label translate>user_password</label>
    <input type="password" class="form-control" placeholder="{{'PasswordPlaceholder' | translate}}" ng-model="user.password" required>
  </div>
  <div class="form-group">
    <label translate>DisplayedName</label>
    <input type="text" class="form-control" placeholder="{{'DisplayedNamePlaceholder' | translate}}" ng-model="user.title" required>
  </div>
  <div class="form-group">
    <label translate>Email</label>
    <input type="email" class="form-control" placeholder="{{'EmailPlaceholder' | translate}}" ng-model="user.email">
  </div>

  <div class="form-group">
    <span translate>GroupInfo</span>
  </div>
  <div class="form-group">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="user.newgroup" btn-radio="true" translate>CreateGroup</button>
        <button type="button" class="btn btn-primary" ng-model="user.newgroup" btn-radio="false" translate>JoinGroup</button>
    </div>
    <div class="alert alert-info" ng-switch="user.newgroup">
      <span ng-switch-when="true">{{'CreateGroupInfo' | translate: {groupname: user.groupname , grouppassword: user.grouppassword} }}</span>
      <span ng-switch-when="false">{{'JoinGroupInfo' | translate}}</span>
    </div>
  </div>
  <div class="form-group">
    <label translate>Group</label>
    <input type="text" class="form-control" placeholder="{{'GroupPlaceholder' | translate}}" ng-model="user.groupname" required>
  </div>
  <div class="form-group">
    <label translate>CheckWord</label>
    <input type="text" class="form-control" placeholder="{{'CheckWordPlaceholder' | translate}}" ng-model="user.grouppassword" required>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3"><button type="submit" class="btn btn-primary" translate>CreateUser</button></div>
      <div class="col-md-9 error-alert" ng-show="showerror" id="bugfix0001" style="display:none">
        <div class="alert alert-danger" ng-switch="error">
          <span ng-switch-when="userexist">{{'UserAlreadyExists' | translate: {username: user.username} }}</span>
          <span ng-switch-when="groupexist">{{'GroupAlreadyExists' | translate: {groupname: user.groupname} }}</span>
          <span ng-switch-when="nogroup">{{'GroupNotExists' | translate: {groupname: user.groupname} }}</span>
          <span ng-switch-when="grouppassword">{{'WrongCheckWord' | translate: {groupname: user.groupname} }}</span>
          <span ng-switch-default>?</span>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="registerMessage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" translate>SuccessRegisterTitle</h4>
      </div>
      <div class="modal-body">
        <p>{{'SuccessRegister' | translate: {username: user.username} }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.close();return false;" translate>CloseWindow</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>RegisterMore</button>
      </div>
    </div>
  </div>
</div>


</div>
