<h4><navtool></navtool> Информация о трекере</h4>

<div class="scrollable">


<!--div class="span4"-->

<div class="row">
    <div class="well well-small span4 col-lg-4">
        <h4>Информация о трекере</h4>

        <dl class="dl-horizontal">
            <dt>Модель</dt><dd>MT-400</dd>
            <dt>IMEI</dt><dd><input class="clone" value="{{ system.imei }}"/></dd>
            <dt>Телефон SIM-карты</dt><dd><input class="clone" value="{{ system.phone || '?'}}"/></dd>
            <dt>Зарегестрирован</dt><dd><datetime seconds="false" datetime="{{ system.date }}"></datetime></dd>
            <dt>Версия ПО</dt><dd>{{ system.swid || '?' }}<!--i class="icon-question-sign cmd" title="Проверить доступность обновления"></i--></dd>
        </dl>

        <!--button class="btn btn-small" ng-click="new()">Добавить произвольное поле</button-->
    </div>

    <div class="well well-small span4 col-lg-4">
        <h4>Сведения о состоянии</h4>

        <dl class="dl-horizontal">
            <dt>Выход на связь</dt><dd><datetime datetime="{{ system.dynamic.lastping }}"></datetime></dd>
            <dt>Текущее состояние</dt><dd>{{ system.dynamic.speed | number:1 }} км/ч</dd>
            <dt>Число спутников</dt><dd>{{ system.dynamic.sats || '?'}}</dd>
            <dt>Уровень GSM</dt><dd>{{ system.dynamic.csq * 100 / 32 | number:0}}%</dd>
            <dt>Уровень GPS</dt><dd>{{ system.dynamic.sats * 100 / 12 | number:0}}%</dd>
            <dt>Основное питание</dt><dd>{{ system.dynamic.vout }} В</dd>
            <dt>Резервное питание</dt><dd>{{ system.dynamic.vin | vin }}</dd>
            <dt>Координаты</dt><dd><input class="clone" value="{{ system.dynamic.latitude | number:4 }}, {{ system.dynamic.longitude | number:4}}"/></dd>
            <dt>Дата метки</dt><dd><datetime datetime="{{ system.dynamic.dt }}"></datetime></dd>
            <dt>Высота над ур.моря</dt><dd>? м</dd>
            <dt>Температура</dt><dd>? &deg;С</dd>
            <dt>Корпус</dt><dd>?</dd>
            <dt>Вход 1</dt><dd>?</dd>
            <dt>Вход 2</dt><dd>?</dd>
            <dt>Вход 3</dt><dd>?</dd>
            <dt>Выход 1</dt><dd>?</dd>
            <dt>Выход 2</dt><dd>?</dd>
            <dt>
                Уровень топлива</dt><dd>{{ system.dynamic.fuel }} л
                <a href="#/config/{{skey}}/params/fuel"><i class="icon-wrench"></i></a>
            </dd>
        </dl>
            <a class="btn btn-primary" title="Нажмите чтобы посмотреть события трекера" href="#/logs/{{skey}}"><i class="icon-eye-open"></i> События</a>
            <a class="btn btn-primary" title="Нажмите чтобы посмотреть подробности GPS" href="#/gps/{{skey}}"><i class="icon-film"></i> Экспорт GPS</a>

        <!--button class="btn btn-small" ng-click="update()">Обновить</button-->
    </div>

    <div class="well well-small span4 col-lg-4">
        <h4>Информация о транспортном средстве</h4>

        <dl class="dl-horizontal">
            <dt>Значек</dt><dd><a class="caricon" ng-click="changeIcon()"><i class="{{ system.icon || 'caricon-truck'}} icon-large"></i></a></dd>
            <dt>Наименование ТС</dt><dd contenteditable="true" ng-model="system.title" ng-change="system.$patch('title')"></dd>
            <dt>Гос номер</dt><dd contenteditable="true" ng-model="system.car.number" ng-change="system.$patch('car')"></dd>
            <dt>Год выпуска</dt><dd contenteditable="true" ng-model="system.car.year" ng-change="system.$patch('car')"></dd>
            <dt>№ двигателя</dt><dd contenteditable="true" ng-model="system.car.engine" ng-change="system.$patch('car')"></dd>
            <dt>№ кузова</dt><dd contenteditable="true" ng-model="system.car.vin" ng-change="system.$patch('car')"></dd>
            <dt>№ страхового полиса</dt><dd contenteditable="true" ng-model="system.car.insurance" ng-change="system.$patch('car')"></dd>
        </dl>

        <!-- <a class="btn btn-primary" href="#drivers">Водители</a> -->
        <a class="btn btn-primary" href="#/config/{{skey}}/params/fuel">Расход топлива</a>
        <!-- <a class="btn btn-primary" href="#tags">Ярлыки</a> -->
        <!-- <a class="btn btn-primary" href="#zones">Привязка к зонам</a> -->

    </div>

</div>

<div class="well well-small">
    <h4>Программирование параметров системы</h4>
    <!-- a href="/#/config/{{skey}}/params/master" class="btn btn-primary"><i class="icon-magic icon-large"></i> Мастер настройки</a-->

    <div ng-hide="params.$isEmpty(params.data)">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th><i class="icon-filter cmd" data-tooltip="1" rel="tooltip" bs-tooltip="tooltip.title" ng-click="showall =! showall"></i>Имя</th>
                <th>Описание</th>
                <!-- <th>Тип</th> -->
                <th>Значение</th>
                <th>Заводское</th>
                <th>Изменить на</th>
            </tr>
            </thead>
            <tbody>
            <!--tr ng-repeat="p in params | isFiltered:filtered"-->
            <!-- <tr ng-repeat="(k, p) in params.value | filter:isFiltered"> -->

            <!-- <tr ng-repeat="(k, p) in filtered(params.data)"> -->
            <tr ng-repeat="(k, p) in params.data">
                <td>{{k}}</td>
                <td>{{extend(k).desc}}</td>
                <!-- <td>{{p.type}}</td> -->
                <!-- <td contenteditable ng-model="p.newvalue" ng-change="onChangeValue(k)"></td> -->
                <td>{{p.value}}</td>
                <td>{{p.default}}</td>
                <td>
                    {{ params.queue[k] }}
                    <button class="btn btn-small" ng-click="changeParam(k)">...</button>
<!--                     <form class="form form-inline" ng-submit="setqueue(k, p.queue)" style="margin:0">
                        <input class="form-control input-small" type="text" ng-model="p.queue" style="width: 50%"></input>
                        <button class="btn btn-small btn-primary" ng-show="p.queue != p.newqueue"><i class="icon-ok"></i>Ok</button>
                    </form>
 -->
                    <i ng-show="params.queue[k] != null" class="btn btn-small btn-primary icon-trash icon-large" style="float:right" title="Отменить" ng-click="cancelqueue(k)"></i>
                 </td>
            </tr>
            </tbody>
        </table>
        <div class="" style="text-align: right;">
            <button class="btn btn-danger" ng-click="stopqueue()"><i class="icon-trash icon-white"></i> Отменить внесенные изменения</button>
            <!--button class="btn btn-warning" ng-click="resetdefaults()"><i class="icon-adjust icon-white"></i> Установить все значения в заводское</button-->
        </div>
    </div>
    <div class="alert" ng-show="params.$isEmpty(params.data)">
        <i class="icon-warning-sign"></i>
        Трекер еще не сохранил конфигурацию. Попробуйте позже или отправьте на номер карточки трекера SMS:
        <b>saveconfig</b>
    </div>
<!--/div-->
<!--/div-->

    <div class="modal fade" id="carIconsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Выберите значек для {{ system.title }}</h4>
                </div>
                <div class="modal-body">
                    <a ng-repeat="i in caricons" ng-click="setIcon(i)" title="{{ i.class }}"><i class="{{ i.class }} icon-2x"></i></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="changeParamModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Введите новое значение параметра</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" ng-model="param.value" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>