<h4><a ng-click="back()" class="btn btn-default"><i class="icon-backward"></i></a> События</h4>

<form class="form-inline" style="margin:10px 0 10px 0;">
<!-- <form class="form-inline"> -->
<!--     <select class="form-control" ng-model="account.skey" ng-options="account.account.systems[s].desc for s in account.account.skeys"  style="width: 210px;" ng-change="onSysSelect()">
        <option value="">Выберите систему</option>
    </select>
 -->
    <select class="form-control" ng-model="skey" ng-options="account.account.systems[s].desc for s in account.account.skeys"  style="width: 210px;" ng-change="onSysSelect()">
        <option value="" ng-show="!skey">Выберите систему</option>
    </select>
    <button class="btn" ng-show="account.skey" ng-click="onReload()"><i class="icon-refresh"></i> Обновить</button>
    skey:{{account.skey}}
</form>

<table class="table table-bordered table-condensed table-striped table-hover" ng-show="account.skey">
    <thead>
    <tr>
        <th>Дата и время</th>
        <th>Событие</th>
        <th>Примечания</th>
    </tr>
    </thead>
    <tbody>
    <!--tr ng-repeat="p in params | isFiltered:filtered"-->
    <tr ng-repeat="l in logs.logs | filter:isFiltered">
        <td><datetime datetime="{{l.dt}}"></datetime></td>
        <td>{{l.text}}<!--i class="icon-filter cmd" title="Показать только события данного типа" ng-click="filtered=!filtered"></i--></td>
        <td>{{l.comments}}</td>
    </tr>
    <tr ng-show="!logs.logs.length">
        <td colspan="7">{{ comment }}</td>
    </tr>
    </tbody>
</table>
