
<div class="container">
  <div ng-class="{hidden: account.isAuthenticated}">
    <h4 translate>enter</h4>
    <chooselang></chooselang>
    <div translate>enter_help<br></div>
    <div translate class="wide">enter_comment<br></div>
    <form name="form" ng-submit="onLogin(user.name, user.password)" style="width: auto">
      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="icon-user"></i></span>
        <input type="text" placeholder="{{'user_name' | translate}}" ng-model="user.name" required autofocus class="form-control">
      </div><br>
      <div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="icon-key"></i></span>
        <input type="password" placeholder="{{'user_password' | translate}}" ng-model="user.password" required class="form-control">
      </div><br>
      <button ng-click="onLogin(user.name, user.password)" ng-disabled="form.$invalid" translate class="btn btn-primary login">enter_cmd</button>
      <button ng-click="onRegister(user.name, user.password)" ng-disabled="form.$invalid" translate class="btn login">register_cmd</button>
    </form>
    <div translate class="wide">enter_comment2</div>
  </div>
  <div ng-class="{hidden: !account.isAuthenticated}">
    <h4>{{'enter_as' | translate:{value: account.account.title} }}</h4>
    <dl class="dl-horizontal wide">
      <dt>Язык<br> (Language, Мова, Język)</dt>
      <dd>
        <chooselang></chooselang>
      </dd><br>
      <dt translate>Display name</dt>
      <dd contenteditable="true" ng-model="account.account.name" ng-change="onChange(account.account.name)"></dd>
      <dt translate>Register date</dt>
      <dd>{{ account.account.date | fromnow }}</dd>
      <dt translate>Administrator</dt>
      <dd>{{ account.account.admin | yesno }}</dd>
      <dt translate>Observed systems</dt>
      <dd>{{ account.account.skeys.length }}</dd>
      <dt title="{{ 'for_recovery' | translate}}">email</dt>
      <dd>{{ account.account.email }}</dd>
    </dl>
    <div ng-show="account.account.skeys.length === 0">
      <p class="text-center text-warning"><strong>Добро пожаловать на сервис поддержки трекеров.<br>Для того, чтобы начать пользоваться сервисом, необходимо добавить трекер введя его IMEI.
          <addtracker account="account"></addtracker></strong></p>
    </div>
    <div ng-hide="account.account.skeys.length === 0" class="container">
      <h4>Основные действия:</h4><a href="#/map" class="btn btn-primary"><i class="icon-map-marker"></i><span translate>Map</span></a>&nbsp;<a href="#/logs" class="btn btn-primary"><i class="icon-eye-open"></i><span translate>Logs</span></a>&nbsp;<a href="#/reports" class="btn btn-primary"><i class="icon-table"></i><span translate>Reports</span></a>&nbsp;<a href="#/gps" class="btn btn-primary"><i class="icon-film"></i><span translate>Export GPS</span></a>&nbsp;<a href="#/config" class="btn btn-primary"><i class="icon-cogs"></i><span translate>Config</span></a>&nbsp;<a href="#/help" class="btn btn-primary"><i class="icon-medkit"></i><span translate>Help</span></a>
    </div>
    <h4>Дополнительные действия</h4>
    <button ng-click="onLogout();" class="btn btn-warning"><i class="icon-off"></i>Выйти из учетной записи</button>
  </div>
</div>