ul.language {
    list-style-type: none;
    border: 1px solid red;
    margin: 0;
    padding: 0 0 0 0;
    display: inline;
}

ul.language li{
    display: inline;
}

ul.language li a{
    padding: 3px 10px 3px 40px;
    border: 1px solid green;
    text-decoration: none;
}

ul.language li a:hover{
    background-color: #c62;
}
