<h4><navtool></navtool> Экспорт GPS</h4>

<div id="geos_head">
    <form class="form-inline" style="margin:10px 0 10px 0;">
        <select class="form-control" ng-model="skey" ng-options="account.account.systems[s].desc for s in account.account.skeys" style="width: 210px;" ng-change="onSysSelect()">
            <option value="" ng-show="!skey">Выберите систему</option>
        </select>

        <div class="btn-group" ng-show="!!skey && (skey !== '+') && (skey != null)">
            <button class="btn" ng-class="{active: (day==0)}" ng-click="selectday(0)">Сегодня</button>
            <button class="btn" ng-class="{active: (day==-1)}" ng-click="selectday(-1)">Вчера</button>
            <!-- <button class="btn" ng-click="selectday('choose')">Выбрать...</button> -->
            <!-- <input id="datepicker" data-date-language="ru" data-date-weekstart="1"></input> -->
            <!-- <a href="#" class="btn small" id="inputDate" data-date-language="ru" data-date-weekstart="1">Выбрать...</a> -->
            <button href="#" class="btn small dropdown-toggle" ng-class="{active: ((day!=0) && (day!=-1))}"  id="inputDate"><span ng-show="(day == 0) || (day == -1)">Выбрать</span><span ng-hide="(day == 0) || (day == -1)">{{ datetime | datetime:false:'date' }}</span> <span class="caret"></span></button>
            <!-- <input class="inputDate" id="inputDate" value="06/14/2008" style="width: 100px"> -->
        </div>
    </form>
</div>

<div id="geos_body">
    <table class="table table-condensed table-hover tview" style="width: 200px">
        <thead>
            <tr>
                <th rowspan=2>Время</th>
                <th rowspan=2>Координаты</th>
                <th rowspan=2 title="Спутники
Показать график"><span class="showchart" style="background-image: url(img/sputnik.png);width: 32px;height: 32px;background-position: 0px 0px;" data-value="sats"></span></th>
                <th rowspan=2 title="Скорость
Показать график"><span class="showchart" style="background-image: url(img/ulitka.png);width: 32px;height: 32px;background-position: 0px 0px;" data-value="speed"></span></th>
                <th colspan=2 style="padding-top: 0; padding-bottom:0">Питание</th>
                <th rowspan="2">Тип метки</th>
                <!--th rowspan=2 title="Фотодатчик
Показать график"><span class="icon-calculator showchart" style="background-image: url(img/photo.png);width: 32px;height: 32px;background-position: 0px 0px;" data-value="photo"></span></th-->
            </tr>
            <tr style="padding-top: 0; padding-bottom:0">
                <th style="border-top: 0">осн.</th>
                <th style="border-top: 0">рез.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="g in track.points" ng-mouseover="onMouseOver(g)">
                <td>{{ g.dt | datetime:true:"time" }}</td>
                <td>{{ g.lat | number:3 }},{{ g.lon | number:3 }}</td>
                <td>{{ g.sats }}</td>
                <td>{{ g.speed | number:1 }}</td>
                <td>{{ g.vout | number:1 }}</td>
                <td>{{ g.vin | number:2 }}</td>
                <td title="{{ (g.fsource | fsource).title }}" style="color:grey"><i class="{{s}}" ng-repeat="s in (g.fsource | fsource).icons" style="padding-left:2px"></i></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="geo_map" gmap="main" track="track" center="center" config="mapconfig" style=""></div>
